@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-500px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Animate neon flicker */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem white, 0.2rem 0.2rem 1rem white, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
    box-shadow: 0 0 0.5rem white, inset 0 0 0.5rem white, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color); }
  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  /* Base font size */
  font-size: 10px;
  /* Set neon color */
  --neon-text-color: hotpink; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Bahianita', cursive;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.7;
  color: white;
  padding: 30px;
  background-color: black; }

h1::-moz-selection {
  color: var(--neon-text-color); }

h1::selection {
  color: var(--neon-text-color); }

h1:focus {
  outline: none; }

.header-secondary {
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: 15px;
  animation: flicker 15s infinite alternate; }

h2 {
  font-size: 4em;
  font-weight: bold; }

h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 1rem 1rem 2rem black; }

.header {
  height: 100vh;
  background-color: black;
  background-image: linear-gradient(0deg, rgba(255, 0, 179, 0.541), black 40%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-primary {
    color: white;
    text-transform: uppercase;
    text-align: center;
    animation: moveInLeft 5s; }
  .header-primary--main {
    display: block;
    font-size: 20rem;
    font-weight: 400;
    font-style: italic;
    animation: flicker 4s infinite alternate; }
  .header-primary--sub {
    display: block;
    letter-spacing: 15px;
    animation: flicker 20s infinite alternate; }

.grid {
  display: grid;
  grid-template-rows: repeat(5, 25%);
  grid-template-columns: 50% repeat(5, 10%); }

.about-title-1 {
  grid-row: 2/span 1;
  grid-column: 1/span 1; }

.about-title-2 {
  grid-row: 4/span 1;
  grid-column: 1/span 1; }

.section-about {
  height: 100vh;
  background-color: black;
  padding: 10rem; }

.btn-text:link, .btn-text:visited {
  color: white;
  display: inline;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.collage:hover {
  transform: scale(1.25);
  transition: all .3s;
  outline: 1.5rem solid #911c6d;
  outline-offset: 2rem; }

#one {
  grid-row: 2/span 2;
  grid-column: 2/span 3;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

#two {
  grid-row: 3/span 2;
  grid-column: 4/span 3;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

#three {
  grid-row: 4/span 2;
  grid-column: 2/span 3;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }

/*with BEM (block element modifier)*/
