.footer {
    background-color: $color-black;
    padding: 0 10rem 10rem 10rem;
   

    &__list {
        list-style: none;
        text-align: center;   
    }

    &__item {
        display: inline-block;
        margin-right: 1.5rem;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-pink;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-pink-dark-solid;
        }
    }

    p {
        float: right;
        color: $color-pink;
    }
}