//home page about
.grid {
    display: grid;
    grid-template-rows: repeat(6, 15%);
    grid-template-columns: repeat(12, 9%);
}

.about-title-1 {
    grid-row: 1/span 6;
    grid-column: 1/span 5;
    background-color: pink;
    padding: 10px;
    border-radius: 2px;

    p {
        color: $color-black;
    }
}

.grid2 {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5rem;
}



