//home page about
.about-grid {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.projects-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
}

.contact-grid {
  display: grid;
  height: 60rem;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
}

.skills-grid {
  display: grid;
  //   height: 40rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5rem;
  margin-left: -2rem;
}
