.header {
    height: 100vh;
    background-color: $color-black;
    background-image: linear-gradient(0deg, $color-pink-dark, $color-black 40%);
    padding-bottom: 10rem;
    // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 10rem;
    }

    &-primary {
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        animation: moveInLeft 5s;
    }

    &-primary--main {
        display: block;
        font-size: 17rem;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 15px;
        animation: flicker 4s infinite alternate;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 10rem;
        }
    }

    &-primary--sub {
        font-size: 5rem;
        display: block;
        letter-spacing: 15px;
        animation: flicker 20s infinite alternate;

        @include respond(phone) {
            letter-spacing: 5px;
        }
    }
}
