.btn-text {
    &:link,
    &:visited {
        color: $color-white;
        display: inline;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-pink-dark;
        color: $color-white;
        border-radius: 5px;
        box-shadow: 0 1rem 2rem $color-white;
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
    }
}