//functionality
.card {
    perspective: 150rem;
    position: relative;
    height: 35rem;
    text-align: center;

    &__side {
        
        border-radius: 2px;
        height: 35rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem $color-pink-dark; 
        // box-shadow:
        // -0.2rem -0.2rem 1rem $color-white,
        // 0.2rem 0.2rem 1rem $color-white,
        // 0 0 2rem var(--neon-text-color),
        // 0 0 4rem var(--neon-text-color);
        

        &--front {
            background-color: $color-white;
            padding: 20px;
            
            p {
                color: $color-black;
            }
        }

        &--back {
            // border: 20px solid $color-white;
            background-image: linear-gradient(to bottom right, $color-white, $color-pink);
            color: $color-black;
            transform: rotateY(180deg);
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    //front side
    &__image {
        background-size: cover;
        height: 23rem;
        // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    
        &--1 {
            background-image: url(../assets/milk2.png);
        }
    }

    //back side
    &__links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    
}