.collage {
  padding: 2rem 2rem 8rem;
  background-color: $color-white;
}

.collage:hover {
  transform: scale(1.25) translateY(5px) !important;
  transition: all 0.3s;
  z-index: 1;
  // outline: 1.5rem solid $color-white;
  // outline-offset: 2rem;
}

#one {
  grid-row: 1 / span 4;
  grid-column: 7 / span 5;
  width: 100%;
  transform: rotate(6deg);
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

  @include respond(tab-port) {
    grid-row: 5 / span 4;
    grid-column: 2 / span 5;
    margin-top: 2rem;
  }
}

#two {
  grid-row: 3 / span 4;
  grid-column: 6 / span 5;
  width: 100%;
  transform: rotate(-6deg);
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

  @include respond(tab-port) {
    grid-row: 7 / span 4;
    grid-column: 7 / span 5;
  }
}

#three {
  grid-row: 5 / span 4;
  grid-column: 8 / span 5;
  width: 85%;
  transform: rotate(0deg);
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
}

#four {
  grid-row: 7 / span 4;
  grid-column: 6 / span 5;
  width: 100%;
  transform: rotate(18deg);
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

  @include respond(tab-port) {
    grid-row: 7 / span 4;
    grid-column: 2 / span 5;
  }
}

.about-title-1 {
  grid-row: 2 / span 7;
  grid-column: 1 / span 5;
  background-color: $color-pink;
  padding: 100px;
  border-radius: 2px;

  @include respond(tab-port) {
    grid-row: 1 / span 5;
    grid-column: 1 / span 12;
    margin: 5rem 5rem;
  }

  @include respond(phone) {
    grid-row: 1 / span 5;
    grid-column: 1 / span 12;
    padding: 20px;
    margin-bottom: 20rem;
  }

  p {
    color: $color-black;
  }
}
