.collage {
    padding: 20px 20px 80px;
    background-color: $color-white;
    
}

.collage:hover {
    transform: scale(1.25) translateY(5px) !important;
    transition: all .3s;
    z-index: 1;
    // outline: 1.5rem solid $color-white;
    // outline-offset: 2rem;
}

#one {
    grid-row: 1/span 2;
    grid-column: 7/span 5;
    width: 100%;
    transform: rotate(6deg);
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
}

#two {
    grid-row: 3/span 2;
    grid-column: 6/span 5;
    width: 100%;
    transform: rotate(-6deg);
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
}

#three {
    grid-row: 5/span 2;
    grid-column: 7/span 5;
    width: 100%;
    transform: rotate(4deg);
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
}