.contact {
    height: 50rem;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .40);
    

    &__image {
        grid-row: 1/span 1;
        grid-column: 2/span 1;
        background-image: url(../assets/contact2.jpg);
        background-size: cover;
        background-position: center;
    }

    &__form {
        grid-row: 1/span 1;
        grid-column: 1/span 1;
        background-color: $color-pink;
        width: 100%;
        height: 100%;
        
    }
}



