@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem $color-white, 0.2rem 0.2rem 1rem $color-white, 0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);

    box-shadow: 0 0 0.5rem $color-white, inset 0 0 0.5rem $color-white, 0 0 2rem var(--neon-border-color),
      inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color),
      inset 0 0 4rem var(--neon-border-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
