*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    /* Base font size */
    font-size: 10px;   
    
    /* Set neon color */
    --neon-text-color: hotpink;
  }

body{
    box-sizing: border-box;
}

html {
    //this is what sets 1rem
    font-size: 62.5%;
}