body {
  font-family: "Bahianita", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.7;
  color: $color-white;
  background-color: $color-black;
}

h1::-moz-selection,
::selection {
  color: var(--neon-text-color);
}

.header-secondary {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: 15px;
  animation: flicker 15s infinite alternate;

  @include respond(tab-port) {
    letter-spacing: 10px;
  }
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 1rem 1rem 2rem $color-black;
}

#resource-h3 {
  text-align: center;
}

.project-title {
  color: $color-black;
  text-shadow: none;
}

.contact-title {
  font-size: 200%;
}

p {
  color: $color-black;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
}

#skills-h3 {
  text-align: center;
  color: $color-white;
}

#skills-ul {
  padding-top: 2rem;
  text-align: center;
  text-decoration: none;
  list-style: none;
  height: 40rem;
}
