.section-about {
    padding-bottom: 10rem;
    background-color: $color-pink-dark;
}

.section-projects {
    background-image: linear-gradient(180deg, $color-pink-dark, $color-black 40%);
    padding: 10rem 2rem 50rem 2rem;
}