.section-about {
    padding-top: 20rem;
    background-image: linear-gradient(0deg, $color-black, $color-pink-dark 40%);
}

.section-projects {
    background-image: linear-gradient(0deg, $color-pink-dark, $color-black 40%);
    padding: 15rem 2rem 20rem 2rem;
}

.section-contact {
    padding: 5rem 10rem 15rem 10rem;
    background-image: linear-gradient(0deg, $color-black, $color-pink-dark 40%);
}

.section-skills {
    background-color: $color-black;
    padding: 5rem 4rem 15rem 4rem;
}

